
#video {
    width: 100%;
    height: 100%; 
    background-color: var(--sbj-color-edge-background);
    position: absolute;
    top : 0;
    left : 0;
}

.device{
    padding: 12px;
}

.sbj-cast-instance-button{
    position: absolute;
    bottom: 24px;
    left: 24px;
}
