html, body {
    height: 100%;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0;
    width: 100%;
    font-family: "Roboto","Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
}

iframe {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 0px;
}

textarea{
    resize: none;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.mdl-button,
.mdl-textfield__input,
.mdl-list__item,
.mdl-tooltip {
    font-family: "Roboto","Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
}

.mdl-button{
    text-transform: none;
}

.mdl-tabs__tab{
    text-transform: none;
}

.mdl-tooltip{
    font-size: 14px;
}

.mdl-layout__container{
    overflow: hidden;
}